* {
  background-color: #2C2C2C;
  font-family: 'Quicksand', sans-serif;
  color: white;
}

.Category {
  display: grid;
  grid-template-columns: 20px 1fr 1fr 20px;
  grid-template-rows: 250px 100px 120px;
}

.logoContainer {
  display: grid;
  grid-area: 1 / 1 / 2 / 4;
  place-self: center;;
}

.logo {
  place-items: center;
  width: 116px;
}

.pickCategory {
  display: grid;
  grid-area: 2 / 1 / 3 / 4;
  justify-content: center;
  font-size: 24px;
}

.logicContainer {
  display: grid;
  grid-area: 3 / 2 / 4 / 3;
  place-items: center;;
}

.logic {
  width: 79px;
  height: 79px;
  padding: 20px;
  border-style: solid;
  border-radius: 20px;
  border-width: 1px;
}

.logic:active {
  border-color: #FF8225;
}

.mathContainer {
  display: grid;
  grid-area: 3 / 3 / 4 / 4;
  place-items: center;
}

.math {
  width: 79px;
  height: 79px;
  padding: 20px;
  border-style: solid;
  border-radius: 20px;
  border-width: 1px;
}

.math:active {
  border-color: #FF8225;
}